<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz8sFwJDtQL4frmdgXIyKjnF_YyAr1gQ2BHw&s" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">My lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New list</a>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<!--banner-->
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill if @list.photo.attached? %>')">
  <%= @list.name %>
</div>

<%= link_to new_list_bookmark_path(@list) do %>
  <button class="btn btn-secondary">Add a movie to this lists</button>
<% end %>

<!--bookmarked movies-->
<!--1. find the bookmarks with my list id 2. need to find the bookmraks id_movies 3. need to display these movies-->
<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
      <!--display each movie in a nice grid-->
        <div class="card" style="width: 18rem;">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title%>">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="card-title"><%= bookmark.movie.title %></h5>
              ★<%= bookmark.movie.rating%>
            </div>
            <p class="card-subtitle mb-2 text-body-secondary"><%= bookmark.movie.overview %></p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="card-text t">
                  <i class="fa-solid fa-quote-left me-2"></i>
                  <em><%= bookmark.comment %></em>
              </p>
                <%= button_to "Delete", list_bookmark_path(@list, bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link text-danger p-0", form: { class: "d-inline" } %>
      </div>
          </div>
        </div>
  <% end %>
</div>




<!--go back button-->

<%= link_to "/lists" do %>
  <button class="btn btn-primary">go back to all lists</button>
<% end %>
